/* src/components/Shared/ScrollToTopButton.module.css */
.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 123, 255, 0.7);
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em; /* Kích thước icon */
}

.scrollToTopButton:hover {
  opacity: 1;
  background-color: rgba(0, 86, 179, 0.7);
}