/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Merriweather&family=Open+Sans&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Các style CSS mặc định khác của bạn */

.scroll-to-top-button {
  position: fixed;
  /* Stay in place when scrolling */
  bottom: 20px;
  /* Distance from the bottom */
  right: 20px;
  /* Distance from the right */
  background-color: #007bff;
  /* Button color */
  color: white;
  /* Text color */
  padding: 10px 15px;
  /* Padding around text */
  border: none;
  /* Remove border */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  /* Change cursor on hover */
  opacity: 0.7;
  /* Make slightly transparent */
  transition: opacity 0.3s ease;
  /* Smooth transition for opacity */
  z-index: 100;
  /* Ensure it stays on top of other elements */
}

.scroll-to-top-button:hover {
  opacity: 1;
  /* Fully visible on hover */
}