/* src/components/Portal/SectionWrapper.module.css */
.sectionWrapper {
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 1200px;
  /* Giữ nguyên max-width */
  box-sizing: border-box;
  width: 100%;
  /* Thêm width 100% */
}

/*.sectionWrapper::before,*/
.sectionWrapper::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

/*.sectionWrapper::before {
  top: 0;
  transform: translateY(15px);
}*/

.sectionWrapper::after {
  bottom: 0;
  transform: translateY(-15px);
}